# OS files
.DS_Store
Thumbs.db

# Node.js / JS
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# VS Code
.vscode/
